body{
  background-color: #FFE589;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
  font-size: 18px;
}

#container{
  width: 800px;
  align-items: center;
  margin: auto;
}

header{
  margin-top: 10px;
  margin-bottom: 10px;
}

h1{
  font-family: 'Boogaloo', cursive;
  font-size: 58px;
  margin: 0px;
  text-align: center;
}

nav{
  width: auto;
  text-align: center;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 5px;
}

ul{
  list-style-type: circle;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-left: 20px;
}

.link{
  text-decoration: none;
  color: #172182;
  margin-left: 5px;
  margin-right: 5px;
  padding: 5px 20px 0px;
  background-color: #72A4ED;
  border-left-color: #72A4ED;
  border-top-color: #72A4ED;
  border-bottom-color: #364E70;
  border-right-color: #364E70;
  border-style: solid;
  border-left-width: 1px;
  border-top-width: 1px;
  border-right-width: 3px;
  border-bottom-width: 3px;
  border-radius: 10px;

}

.link:hover{
  text-decoration: none;
  background-color: #A0E4FC;
  border-left-color: #A0E4FC;
  border-top-color: #A0E4FC;
}

#bio{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  margin: auto;
  margin-top: 35px;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

#biopic {
  z-index: 3;
}
#biopic img{
  width: 250px;
}

#biotext h3{
  font-size: 30px;
  margin: 5px 0px;
}

#biotext p{
  margin: 5px 0px;
}

#biotext{
  z-index: 1;
  -webkit-align-self: center;
  align-self: center;
  -webkit-animation-name: textmove;
  -webkit-animation-duration: 2s;
  animation-name: textmove;
  animation-duration: 2s;
  margin-left: 10px;
}

@-webkit-keyframes textmove {
  from {
    transform: translate3d(-58%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes textmove {
  from {
    transform: translate3d(-59%, 0, 0);
    opacity: 0;
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

#ilike p{
  display: inline;
  margin-left: 5px;
}


#hobsort{
  display: flex;
  display: -webkit-flex;
  flex-direction: row;
  -webkit-justify-content: space-around;
  justify-content: space-around;
}

.hoblist img{
  width: 250px;
}

#anime{
  margin-bottom: 10px;
}

#anime:hover{
  -webkit-animation-name: zoomOutLeft;
  -webkit-animation-duration: 2s;
  animation-name: zoomOutLeft;
  animation-duration: 2s;
}

@keyframes zoomOutLeft {
  40% {
    opacity: 1;
    transform: scale3d(.475, .475, .475) translate3d(42px, 0, 0);
  }

  to {
    opacity: 0;
    transform: scale(.1) translate3d(-2000px, 0, 0);
    transform-origin: left center;
  }
}

#game:hover{
  -webkit-animation-name: flipOutX;
  -webkit-animation-duration: 2s;
  animation-name: flipOutX;
  animation-duration: 2s;
}

@keyframes flipOutX {
  from {
    transform: perspective(400px);
  }

  30% {
    transform: perspective(400px) rotate3d(1, 0, 0, -20deg);
    opacity: 1;
  }

  to {
    transform: perspective(400px) rotate3d(1, 0, 0, 90deg);
    opacity: 0;
  }
}


#manga{
  margin-bottom: 8px;
}

#manga:hover{
  -webkit-animation-name: rollOut;
  -webkit-animation-duration: 2s;
  animation-name: rollOut;
  animation-duration: 2s;
}

@keyframes rollOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    transform: translate3d(100%, 0, 0) rotate3d(0, 0, 1, 120deg);
  }
}

#hobs{
  margin: auto;
  margin-top: 35px;
}

#hobtitle{
  font-size: 30px;
  margin: 5px 0px;
}

.lab{
  vertical-align: top;
}

#notes{
  font-size: 30px;
  margin: 15px 0px 0px;
}
