<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Indie+Flower|Boogaloo" rel="stylesheet">
    <!--
    <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
    -->
    <link rel=stylesheet type=text/css href="../static/style_win.css">
    <title>Portfolio</title>
  </head>
  <body>
    <div id ="container">
      <div id="message">
        <audio autoplay hidden loop>
          <source src="../static/crowd_ooohs_and_ahhhs.wav" type="audio/wav">
                  </audio>
            <h1>CONGRATULATIONS!!!</h1>
            <h1>YOU WIN!!!</h1>
      </div>
    </div>
  </body>
</html>
